.gallery{
    background: #F1F8F4;
    display: flex;
    justify-content: space-between;
    margin-bottom: 167px;
}
  
.gallery_item{
    display: flex;
    margin-top: 157px;
    margin-bottom: 157px;
    align-items: center;
    justify-content: center;
}
  
.gallery_item img{
   z-index: 1;
   width: 482px;
   height: 433px;
}
  
.gallery_item button{
    z-index: 2;
    position: absolute;  
    border-radius: 20px;
    background: #FFF; 
    border: none;
    padding: 33px 73px 34px 73px;
    color: #274C5B;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
}